body {
  color: white;
  text-align: center;
  text-shadow: 3px 3px 3px #000000;
  font-family: 'Ubuntu', sans-serif;
  color: #ffff33;
  font-weight: normal;
  background-color: rgb(0,0,0);
  background-image: url('');
  background-size: cover;
  background-repeat:no-repeat;
  // border: 20px solid black;
}

#weather {
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}

#map {
  text-align:center;
  margin-bottom: 20px;
}

i {
  color: #ffff33;
  // font-family: weather;
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
}

.icon-0:before { content: ":"; }    // tornado
.icon-1:before { content: "p"; }    // tropical storm
.icon-2:before { content: "S"; }    // hurricane
.icon-3:before { content: "Q"; }    // severe thunderstorms
.icon-4:before { content: "S"; }    // thunderstorms
.icon-5:before { content: "W"; }    // mixed rain and snow
.icon-6:before { content: "W"; }    // mixed rain and sleet
.icon-7:before { content: "W"; }    // mixed snow and sleet
.icon-8:before { content: "W"; }    // freezing drizzle
.icon-9:before { content: "I"; }    // drizzle
.icon-10:before { content: "W"; }   // freezing rain
.icon-11:before { content: "I"; }   // showers
.icon-12:before { content: "I"; }   // showers
.icon-13:before { content: "I"; }   // snow flurries
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }   // dust
.icon-20:before { content: "Z"; }   // foggy
.icon-21:before { content: "Z"; }   // haze
.icon-22:before { content: "Z"; }   // smoky
.icon-23::before { content: "<span class="pe-is-w-wind"></span>"; }   // blustery - &#xe9cf
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }


#weather h2 {

  margin: 0 0 0 0;
  color: #ffff33;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}

#controls ul {
  margin: 0;
  padding: 0;
}

#controls li {
  display: inline-block;
}

#weather ul {
  margin: 0;
  padding: 0;
}

#weather li {

  padding-bottom: 10px;
  display: inline-block;
  border-radius: 0;
}

#weather .currently {
  margin: 0 20px;
}

a { text-decoration: none; color: #ffffff; }
a:hover { text-decoration: underline; color: #ffffff; }

.footer {
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  letter-spacing: 1.5px;
  padding: 5px;
  // border-top: 3px dashed #ffff33;
  background-color: black;
  text-decoration: none;
  position:fixed;
  bottom:0px;
  left:30px;
  z-index:1;
  border-radius: 5%;
}
